/* .banner {
  --left: 0px;
  position: absolute;
  top: 30%;
  left: 45%;
}

.banner .sodacan {
  background-image: url(/sodacan.png), url("/grape.png");
  background-position: 0 0, var(--left) 0;
  background-size: cover, auto 100%;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  width: 300px;
  aspect-ratio: 3 / 5;
  mask-image: url("/sodacan.png");
  mask-size: 100%;
  transition: 0.8s;
}

.banner .sodacan:hover {
  --left: -600px;
} */
