@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shake {
  0% {
    transform: rotate(1deg);
  }
  0.20% {
    transform: rotate(-1deg);
  }
  0.40% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(0deg);
  }
  31.33% {
    transform: rotate(3deg);
  }
  31.66% {
    transform: rotate(-2deg);
  }
  31.99% {
    transform: rotate(2deg);
  }
  32.33% {
    transform: rotate(-2deg);
  }
  32.66% {
    transform: rotate(1deg);
  }
  32.99% {
    transform: rotate(-2deg);
  }
  33.33% {
    transform: rotate(2deg);
  }
  33.66% {
    transform: rotate(-1deg);
  }
  33.99% {
    transform: rotate(1deg);
  }
  34.33% {
    transform: rotate(0deg);
  }
  35.66% {
    transform: rotate(0deg);
  }
  64% {
    transform: rotate(0deg);
  }
  65% {
    transform: rotate(2deg);
  }
  65.33% {
    transform: rotate(-3deg);
  }
  65.66% {
    transform: rotate(2deg);
  }
  65.99% {
    transform: rotate(-3deg);
  }
  66.33% {
    transform: rotate(2deg);
  }
  66.66% {
    transform: rotate(-2deg);
  }
  67.33% {
    transform: rotate(2deg);
  }
  67.66% {
    transform: rotate(-2deg);
  }
  67.99% {
    transform: rotate(0deg);
  }
  68.33% {
    transform: rotate(1deg);
  }
  68.66% {
    transform: rotate(-1deg);
  }
  68.99% {
    transform: rotate(1deg);
  }
  69.99% {
    transform: rotate(-1deg);
  }
  94% {
    transform: rotate(0deg);
  }
  95% {
    transform: rotate(2deg);
  }
  95.33% {
    transform: rotate(-3deg);
  }
  95.66% {
    transform: rotate(2deg);
  }
  95.99% {
    transform: rotate(-3deg);
  }
  96.33% {
    transform: rotate(2deg);
  }
  96.66% {
    transform: rotate(-2deg);
  }
  97.33% {
    transform: rotate(2deg);
  }
  97.66% {
    transform: rotate(-2deg);
  }
  97.99% {
    transform: rotate(0deg);
  }
  98.33% {
    transform: rotate(1deg);
  }
  98.66% {
    transform: rotate(-1deg);
  }
  98.99% {
    transform: rotate(1deg);
  }
  99.99% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(1deg);
  }
}

.animate-can .inner .abc .def .rotating {
  animation: shake 1s infinite ease-in-out;
}

/* :root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}
